<script>
  {% if page.issue %}
     window.issue_id = {{ page.issue }}
  {% endif %}
</script>

<script>
  document.querySelectorAll("blockquote > p > strong").forEach((el) => {
    const content = el.innerText;
    if (["NOTE", "TIP", "IMPORTANT", "WARNING", "CAUTION"].includes(content)) {
      el.classList.add(`alert-title`);
      const parent = el.parentElement.parentElement;
      parent.classList.add(`alert-box`);
      parent.classList.add(content.toLowerCase());
    }
  });
</script>

<script>
  (async () => {
    const v = "{{ site.github.build_revision }}";
    const data = await fetch(`/blog/assets/meta_data.json?v=${v}`)
      .then((res) => res.json())
      .then((res) =>
        Object.values(res).sort(
          (a, b) => new Date(b.created) - new Date(a.created),
        ),
      );

    const query = new URLSearchParams(window.location.search);

    if (window.location.pathname === "/blog/") {
      const el = document.getElementById("main_content");
      el.style.maxWidth = "960px";
      el.style.margin = "0 auto";
    }

    if (window.issue_id) {
      const tagName = query.get("tag");
      const list = tagName
        ? data.filter((item) => item.tags.split(",").includes(tagName))
        : data;

      const cur = list.findIndex((item) => item.issue === `${window.issue_id}`);

      if (cur === -1) return;
      const has_prev = cur !== 0;
      const has_next = cur !== list.length - 1;

      const pagnation = document.getElementById("pagnation");

      const html = [];
      if (has_prev) {
        html.push(
          `<div><a href="./${+list[cur - 1].issue}">&lt; ${
            list[cur - 1].title
          }</a></div>`,
        );
      }
      if (has_next) {
        html.push(
          `<div class="text-right"><a href="./${+list[cur + 1].issue}">${
            list[cur + 1].title
          } &gt;</a></div>`,
        );
      }

      pagnation.innerHTML = html.join("\n");
    }

    if (window.location.pathname === "/blog/tags") {
      const query = new URLSearchParams(window.location.search);

      const tagsEl = document.getElementById("tags_wrap");
      const listEl = document.getElementById("list_wrap");

      const tags = Array.from(
        new Set(data.flatMap((item) => item.tags.split(","))),
      );

      const tagName = query.get("name");

      const fragment = document.createDocumentFragment();

      ["All", ...tags].forEach((tag) => {
        const a = document.createElement("a");

        a.href = tag === "All" ? "/blog/tags" : `/blog/tags?name=${tag}`;
        a.textContent = `#${tag}`;

        if ((!tagName && tag === "All") || tag === tagName) {
          a.className = "font-bold";
        } else {
          a.className = "text-white";
        }

        fragment.appendChild(a);
      });

      tagsEl.appendChild(fragment);

      const list = tagName
        ? data.filter((item) => item.tags.split(",").includes(tagName))
        : data;

      const ul = document.createElement("ul");

      list.forEach((item) => {
        const li = document.createElement("li");
        const p = document.createElement("p");
        const a = document.createElement("a");

        a.href = `/blog/${item.issue}?tag=${tagName}`;
        a.textContent = item.title;

        p.appendChild(a);
        li.appendChild(p);
        ul.appendChild(li);
      });

      listEl.appendChild(ul);
    }
  })();
</script>
