{% if page.issue %}
<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    const throttle = (fn, s) => {
      let start;
      return (...args) => {
        if (Date.now() - start < s) return;
        fn(...args);
        start = Date.now();
      };
    };

    const last = (arr) => arr[arr.length - 1];

    anchors.add();

    generateTableOfContents(anchors.elements);

    function addNavItem(parent, href, text) {
      let listItem = document.createElement("LI"),
        anchorItem = document.createElement("A"),
        textNode = document.createTextNode(text);

      anchorItem.href = href;
      parent.appendChild(listItem);
      listItem.appendChild(anchorItem);
      anchorItem.appendChild(textNode);
    }

    // External code for generating a simple dynamic Table of Contents
    function generateTableOfContents(els) {
      const parents = [];

      for (let i = 0; i < els.length; i++) {
        const el = els[i];
        const lv = Number(el.tagName.slice(1));
        const anchoredElText = el.textContent;
        const anchoredElHref = el
          .querySelector(".anchorjs-link")
          .getAttribute("href");

        const prevLv = last(parents) ? last(parents)[0] : -1;

        if (lv > prevLv) {
          parents.push([lv, document.createElement("UL")]);
        } else if (parents.length) {
          while (lv < last(parents)[0]) {
            const ul = parents.pop()[1];
            last(parents)[1].appendChild(ul);
          }
        }

        addNavItem(last(parents)[1], anchoredElHref, anchoredElText);
      }

      document.getElementById("table-of-contents").appendChild(parents[0][1]);
    }

    const MAX_W = 1024;
    let isSmall = false;

    const toc = document.getElementById("table-of-contents");

    toc.addEventListener("click", (e) => {
      if (!isSmall) return;

      toc.classList.toggle("open");
      // if (["svg", "path"].includes(e.target.tagName)) {
      // } else {
      //
      // }
    });

    const w = toc.clientWidth;

    const main = document.getElementById("main_warp");

    const widthResize = throttle(() => {
      const l = main.offsetLeft;
      const width = main.clientWidth;

      if (width < MAX_W) {
        isSmall = true;
        main.style.padding = `0`;
        if (!toc.classList.contains("small")) {
          toc.classList.add("small");
        }
        return;
      }

      isSmall = false;

      if (toc.classList.contains("small")) {
        toc.classList.remove("small");
      }

      if (l < w) {
        main.style.padding = `0 ${w - l + 12}px`;
      }
    }, 300);
    window.addEventListener("resize", widthResize);
    widthResize();

    if (!window.ResizeObserver) return;

    let heightMap = null;
    let prevHeight = 0;

    const heightResize = throttle((rect) => {
      if (rect.height !== prevHeight) {
        prevHeight = rect.height;

        heightMap = Array.from(anchors.elements).reduce((arr, el, i) => {
          arr.push([el.offsetTop, i]);

          return arr;
        }, []);

        handleScroll();
      }
    }, 300);

    const resizeObserver = new ResizeObserver(([entrie] = []) => {
      if (!entrie) return;
      if (isSmall) return;
      heightResize(entrie.contentRect);
    });

    const mainContent = document.getElementById("main_content");
    resizeObserver.observe(mainContent);

    let prevIdx = 0;

    const anchorList = Array.from(toc.getElementsByTagName("a"));

    const handleScroll = throttle(() => {
      if (!heightMap) return;
      if (isSmall) return;

      const top = document.documentElement.scrollTop;

      let [, i] = heightMap.find(([t]) => t - 20 > top) || [];
      i = (i || 1) - 1;

      if (anchorList[i]) {
        anchorList[prevIdx].classList.remove("active");

        anchorList[i].classList.add("active");

        prevIdx = i;
      }
    }, 100);
    window.addEventListener("scroll", handleScroll);
    handleScroll();
  });
</script>
{% endif %}
