/* @tailwind base; */

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.top-4 {
  top: 1rem;
}

.float-left {
  float: left;
}

.\!m-0 {
  margin: 0px !important;
}

.mb-4 {
  margin-bottom: 1rem;
}

.box-border {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-7 {
  height: 1.75rem;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.max-w-72 {
  max-width: 18rem;
}

.resize {
  resize: both;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-5 {
  gap: 1.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.container {
  width: 90%;
  min-width: 300px;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 12px 0;
}

blockquote.alert-box {
  margin-left: 0;
  margin-right: 0;
  border-left: 3px solid;
  border-color: var(--color);
  color: #eaeaea;
  .alert-title {
    color: var(--color);
  }
  &.note {
    --color: cornflowerblue;
  }
  &.tip {
    --color: deepskyblue;
  }
  &.important {
    --color: chartreuse;
  }
  &.warning {
    --color: darkorange;
  }
  &.caution {
    --color: crimson;
  }
}

code.highlighter-rouge {
  /* color: #63c0f5; */
  background: rgb(53 49 49 / 90%);
  border-radius: 4px;
}

nav#table-of-contents {
  > svg {
    display: none;
    position: absolute;
    left: -4px;
    cursor: pointer;
    z-index: 99;
  }
  ul {
    font-size: 14px;
    line-height: 2;
    padding-inline-start: 20px;
    margin: 0;
    position: relative;
    ::before {
      content: "";
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      width: 1px;
      background-color: #63c0f5;
      opacity: 0;
    }
    :has(> li:hover) {
      &::before {
        opacity: 1;
      }
    }
    li {
      margin: 4px 0;
      list-style: disc;
      a {
        color: #9ca3af;
        text-shadow: none;
        transition: color 0.3s;
        text-decoration: none;
        &.active,
        &:hover {
          color: #63c0f5;
          text-decoration: underline;
        }
      }
    }
  }
  &.small {
    position: fixed;
    top: 48px;
    transition: transform 0.3s;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    > svg {
      display: block;
    }
    > ul {
      padding: 36px 16px 16px;
      transform: scale(0);
    }
    &.open {
      width: auto;
      height: auto;
      background: darkslategrey;
      > ul {
        transform: scale(1);
      }
    }
  }
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:ml-\[-34px\]::before {
  content: var(--tw-content);
  margin-left: -34px;
}

.before\:mt-1::before {
  content: var(--tw-content);
  margin-top: 0.25rem;
}

.before\:content-\[\'\.\/\'\]::before {
  --tw-content: './';
  content: var(--tw-content);
}

.has-\[\:hover\]\:text-blue-50:has(:hover) {
  --tw-text-opacity: 1;
  color: rgb(239 246 255 / var(--tw-text-opacity));
}

@media not all and (min-width: 1024px) {
  .max-lg\:hidden {
    display: none;
  }
}

@media not all and (min-width: 768px) {
  .max-md\:absolute {
    position: absolute;
  }

  .max-md\:bottom-2 {
    bottom: 0.5rem;
  }

  .max-md\:right-0 {
    right: 0px;
  }

  .max-md\:hidden {
    display: none;
  }
}
