<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-CN" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    {% seo %}
  </head>

  <body>
    <header class="py-2 mb-4">
      <div class="relative container flex items-center justify-between">
        <div class="flex items-baseline gap-3">
          <a id="a-title" href="{{ '/' | relative_url }}">
            <h1 class="!m-0 before:absolute before:content-['./'] before:ml-[-34px] before:mt-1">{{  page.title | default: site.title | default: site.github.repository_name }}</h1>
          </a>
        </div>

        {% include github-button.html %}
      </div>
    </header>

    <nav aria-label="Table of Contents" id="table-of-contents" class="sticky top-4 float-left w-fit max-w-72 has-[:hover]:text-blue-50">
      <svg t="1714561890610" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1796" fill="darkgrey" width="30" height="30"><path d="M256 384h128v-128h-128v128z m0 192h128v-128h-128v128z m0 192h128v-128h-128v128z m192-384h320v-128H448v128zM832 0H192a192 192 0 0 0-192 192v640c0 105.984 85.952 192 192 192h640c106.048 0 192-86.016 192-192V192a192 192 0 0 0-192-192z m64 832c0 35.392-28.608 64-64 64H192c-35.392 0-64-28.608-64-64V192a64 64 0 0 1 64-64h640a64 64 0 0 1 64 64v640zM448 576h320v-128H448v128z m0 192h320v-128H448v128z" p-id="1797"></path></svg>

    </nav>
    <div class="container box-border" id="main_warp">
      <div class="flex flex-wrap gap-2 items-baseline justify-between">
        <div class="flex gap-2">
        {% for tag in page.tags %}
          <a href="./tags?name={{tag}}">#{{ tag }}</a>
        {% endfor %}
        </div>
        <div class="text-gray-400 text-sm flex gap-3">
          <time>{{page.created}}</time>
        </div>
      </div>
      <section id="main_content">{{ content }}</section>
      <p id="pagnation" class="grid grid-cols-2 gap-3"></p>
    </div>

    {% include script.html %}
    {% include toc.html %}
    {% include comment.html %}
  </body>
</html>
