name: PR Check And Publish Issue Blog

on:
  pull_request:
    types: [opened, synchronize, reopened]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

      - name: convert content
        env:
          GITHUB_LOGIN: lei4519
          GITHUB_TOKEN: ${{ secrets.BLOG_SECRET }}
        run: cargo run

      - name: commit change
        run: |
          git config --global user.email "lei4519@126.com"
          git config --global user.name "lei4519"
          git add .
          git commit -m "Update Content from PR Github Action"

      - name: push change
        env:
          GITHUB_LOGIN: lei4519
          GITHUB_TOKEN: ${{ secrets.BLOG_SECRET }}
        run: |
          git push https://$GITHUB_LOGIN:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git HEAD ${{ github.event.pull_request.head.ref }}

      - name: done
        run: echo 'done'
